/* 메인 콘텐츠 */
section#main {
    width: 990px;
    margin: auto;
}
/* 좌측 카테고리 + 메인 이미지 + 공지사항/주간 이벤트 */
section#cat1 {
    width: 215px;
    float: left;
    margin-top: 15px;
    font-weight: bold;
}

section#cat1 #cat_title {
    padding: 12px;
    background-color: #96c11f;
    color: #ffffff;
    text-align: center;
}

section#cat1 li {
    color: #666666;
    padding: 7px 0 7px 30px;
    border-bottom: 1px solid #cccccc;
}

section#cat2 {
    float: left;
    margin-top: 15px;
}

section#cat3 {
    width: 236px;
    float: left;
    margin-top: 15px;
}

section#cat3 #latest_notice {
    width: 239px;
    height: 161px;
    background-image: url("../images/summer_icon\ \(1\).png");    /*이미지 추가*/
    background-repeat: no-repeat;
}

section#cat3 #latest_notice ul {
    padding: 42px 0 0 30px;
    list-style-image: url();    /*이미지 추가*/
}

section#cat3 #week_event {
    width: 239px;
    height: 191px;
    margin-top: 11px;
    background-image: url("../images/summer_icon\ \(1\).png");    /*이미지 추가*/
    background-repeat: no-repeat;
}

section#cat3 #week_event img {
    margin: 58px 0 0 22px;
}
/*생략*/
/*스페셜 숍*/
section#special_shop {
    width: 592px;
    height: 389px;
    margin-top: 20px;
    float: left;
    background-image: url(); /*이미지 추가*/
    background-repeat: no-repeat;
}

section#special_shop ul {
    margin: 60px 0 0 25px;
}

section#special_shop li {
    display: inline;
    margin: 0 2px;
}

section#special_shop img {
    padding: 20px;
    border: 1px solid #cccccc;
}

section#special_banner {
    float: left;
    margin: 19px 0 0 5px;
}

section#special_banner div {
    width: 392px;
    height: 129px;
    margin-top: 1px;
}

/*스페셜 숍 우측의 배너 3개*/
section#special_banner #banner1 {
    background-image: url();    /*이미지 추가*/
    background-repeat: no-repeat;
}

section#special_banner #banner2 {
    background-image: url();    /*이미지 추가*/
    background-repeat: no-repeat;
}

section#special_banner #banner3 {
    background-image: url();    /*이미지 추가*/
    background-repeat: no-repeat;
}

section#special_banner ul {
    padding: 6px 0 0 132px;
}

section#special_banner li {
    display: inline;
}
